<h1>Welcome to Coffee Run</h1>

<div id="main"></div>

<!--  introduction to the site stuff below -->

<script type="text/template" id='appViewTemplate'>

  <button id='customer-btn'>I am a Customer</button>
  <button id='store-btn'>I am a Cafe</button>
  <button id='runner-btn'>I Deliver Coffee</button>

</script>

<script type="text/template" id='locationDiscussionTemplate'>

  <div id="message">

  </div>
  <div id="map">

  </div>
  <div id="address-form">

  </div>

  <div id="nav-buttons">

  </div>

</script>


<script type="text/template" id='customerLocationGreeting'>
  <p>Hello. We aim to help you get your favourite coffee delivered to you from cafes in your area.</p>
</script>

<script type="text/template" id='customerAddressNeed'>
  <p>To do this we need to work out where you are.</p>
</script>


<script type="text/template" id='runnerLocationGreeting'>
  <p>Hello. We aim to help you earn some money by delivering coffees from local cafes to people
  nearby.</p>
</script>

<script type="text/template" id='runnerLocationFailure'>
  <p>Unfortunately, your device isn't providing adequate position information. If you believe
  your device has gps capability, you can change your privacy settings to allow our app to use
  your location and try again or check that your hardware
  isn't faulty.</p>
  <p>If we can't get high precision location data from you, we can't let you be a runner, sorry.</p>
</script>

<script type="text/template" id='resetTypeButtonTemplate'>
  <button id="resetTypeButton">Back</button>
</script>

<script type="text/template" id='getOrdersButtonTemplate'>
  <button id="getOrdersButton">Get Orders</button>
</script>


<script type="text/template" id='storeLocationGreetingTemplate'>
  <p>Hello. We aim to connect your cafe to people who want coffee but don't have the time to come to you
    and get it, and people who want to deliver coffee.</p>
</script>

<script type="text/template" id='storeAddressNeed'>
  <p>To do this we need your address.</p>
</script>

<script type="text/template" id='menuButtonTemplate'>
  <button id="menuButton">View Your Menu</button>
</script>

<script type="text/template" id='changeAddressButtonTemplate'>
  <button id="addButton">Change Your Address</button>
</script>


<script type="text/template" id='manualAddressTemplate'>
  <div class="manual">
    <p>Manually enter your address (please be specific).</p>
    <input id="address-input" type="text" placeholder="address">
    <button id="address-btn">Submit</button>
  </div>
</script>

<script type="text/template" id='automaticAddressTemplate'>
  <div id="automatic">
    <button id='auto-location-btn'>Auto Discover Location</button>
  </div>
  <div id="geoMessage"></div>
</script>


<!-- store menu view stuff -->

<script type="text/template" id='StoreListViewTemplate'>

    <ul id='store-list'></ul>

</script>


<script type="text/template" id='StoreViewTemplate'>
    <li class='store' id='<%%= id %>'>
    <p>Name: <%%= name %></p>
    <p>Address: <%%= address %></p>

    </li>

</script>

<!--  -->

<script type="text/template" id='OrderViewTemplate'>

</script>

<script type="text/template" id='OrderListViewTemplate'>
    <h3>Order List</h3>
    <p>Store ID: <%%= store_id %></p>
    <p>Customer ID: <%%= customer_id %></p>
    <p>Runner ID: <%%= runner_id %></p>
    <p>Total Price: <%%= total_price %></p>


  <div class="order-view-list-item" id="<%%= id %>">
    <p>Store Name: <%%= storeName %></p>
    <p>Customer Name: <%%= customerName %></p>
    <p>Total Price: $<%%= total_price %></p>
  </div>
</script>

<!-- menu view templates -->

<script type="text/template" id='MenuViewTemplate'>
        <h1>Menu List View</h1>
        <h3>Store Name: <%%= name %></h3>
        <h3>Address: <%%= address %></h3>

        <p>Total Price: $<span id='menu-total-price'>0.0</span></p>

        <ul id='items-list'></ul>
        <button id='submit-order-btn'>Submit</button>
        <button id='cancel-order-btn'>Cancel</button>

</script>

<script type="text/template" id='ItemViewTemplate'>

    <li class="item">
        <p>Name: <%%= name %></p>
        <p>Price: $<%%= price %></p>
        <p>Description: <%%= description %></p>
        <button class='change-qty' id='-<%%= id %>'>-</button>
        <box class='item-qty' id='qty<%%= id %>'>0</box>
        <button class='change-qty' id='+<%%= id %>'>+</button>
        <p>Total Price: $<span id='<%%= id %>-total-price'>0.0</span></p>
        <ul id='item-submenu-<%%= id %>'></ul>
    </li>


</script>

<script type="text/template" id='ItemSubmenuTemplate'>
        <li class='submenu'>
            <span id='qty<%%= id %><%%= qty %>'><%%= qty %></span>:
            Specifications:
            Size:
            <select name="size" id='size<%%= id %><%%= qty %>'>
                <option value="Small">Small</option>
                <option value="Large">Large</option>
            </select>
            No. Sugars:
            <select name="sugars" id='sugars<%%= id %><%%= qty %>'>
                <option value='0'>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
            Milk:
            <select name="milk" id='milk<%%= id %><%%= qty %>'>
                <option value="Full Cream">Full Cream</option>
                <option value="Light">Light</option>
                <option value="Soy">Soy</option>
                <option value="Almond">Almond</option>
            </select>
        </li>

</script>
