<h1>Welcome to Coffee Run</h1>

<div id="main"></div>

<!--  introduction to the site stuff below -->

<script type="text/template" id='appViewTemplate'>

  <button id='customer-btn'>I am a Customer</button>
  <button id='store-btn'>I am a Cafe</button>
  <button id='runner-btn'>I Deliver Coffee</button>

</script>

<script type="text/template" id='customerViewTemplate'>

  <p>Hello. We aim to help you get coffee delivered to you from cafes in your area.</p>

  <div id="addressDiscoveryContainer"></div>

</script>


<script type="text/template" id='manualAddressTemplate'>
  <div class="manual">
    <p>Manually enter your address</p>
    <input id="address-input" type="text" placeholder="address">
    <button id="address-btn">Submit</button>
  </div>
</script>

<script type="text/template" id='automaticAddressTemplate'>
  <div id="automatic">
    <button id='auto-location-btn'>Auto Discover Location</button>
  </div>
</script>


<!-- store list view stuff -->

<script type="text/template" id='StoreListViewTemplate'>

    <ul id='store-list'></ul>

</script>


<script type="text/template" id='StoreViewTemplate'>
    <li class='store' id='<%%= id %>'>
    <p>Name: <%%= name %></p>
    <p>Address: <%%= address %></p>

    </li>

</script>

<!--  -->

<script type="text/template" id='OrderViewTemplate'>


</script>

<script type="text/template" id='OrderListViewTemplate'>
  <div class="order-view-list-item" id="<%%= id %>">
    <p>Store Name: <%%= storeName %></p>
    <p>Customer Name: <%%= customerName %></p>
    <p>Total Price: $<%%= total_price %></p>
  </div>
</script>

<!-- menu view templates -->

<script type="text/template" id='MenuViewTemplate'>
        <h1>Menu List View</h1>

        <h3>Store Name: <%%= name %></h3>
        <h3>Address: <%%= address %></h3>

        <p>Total Price: $<span id='menu-total-price'>0.0</span></p>

        <ul id='items-list'></ul>
        <button id='submit-order-btn'>Submit</button>
        <button id='cancel-order-btn'>Cancel</button>

</script>

<script type="text/template" id='ItemViewTemplate'>

    <li class="item">
        <p>Name: <%%= name %></p>
        <p>Price: $<%%= price %></p>
        <p>Description: <%%= description %></p>
        <button class='change-qty' id='-<%%= id %>'>-</button>
        <box class='item-qty' id='qty<%%= id %>'>0</box>
        <button class='change-qty' id='+<%%= id %>'>+</button>
        <p>Total Price: $<span id='<%%= id %>-total-price'>0.0</span></p>
        <ul id='item-submenu-<%%= id %>'></ul>
    </li>


</script>

<script type="text/template" id='ItemSubmenuTemplate'>
        <li class='submenu'>
            <span id='qty<%%= id %><%%= qty %>'><%%= qty %></span>:
            Specifications:
            Size:
            <select name="size" id='size<%%= id %><%%= qty %>'>
                <option value="Small">Small</option>
                <option value="Large">Large</option>
            </select>
            No. Sugars:
            <select name="sugars" id='sugars<%%= id %><%%= qty %>'>
                <option value='0'>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
            Milk:
            <select name="milk" id='milk<%%= id %><%%= qty %>'>
                <option value="Full Cream">Full Cream</option>
                <option value="Light">Light</option>
                <option value="Soy">Soy</option>
                <option value="Almond">Almond</option>
            </select>
        </li>

</script>
