<h1>Welcome to Coffee Run</h1>

<div id="main"></div>

<script type="text/template" id='appViewTemplate'>

    <button id='show-cafes-btn'>Show Cafes in my Area</button>

</script>

<script type="text/template" id='StoreListViewTemplate'>

    <ul id='store-list'></ul>

</script>


<script type="text/template" id='StoreViewTemplate'>
    <li class='store' id='<%%= id %>'>
    <p>Name: <%%= name %></p>
    <p>Address: <%%= address %></p>

    </li>

</script>

<script type="text/template" id='OrderViewTemplate'>


</script>

<script type="text/template" id='OrderListViewTemplate'>
    <p>Total Price: <%%= total_price %></p>
</script>

<script type="text/template" id='MenuViewTemplate'>
        <h1>Menu List View</h1>

        <h3>Store Name: <%%= name %></h3>
        <h3>Address: <%%= address %></h3>

        <ul id='items-list'></ul>

</script>

<script type="text/template" id='ItemViewTemplate'>

    <li class="item">
        <p>Name: <%%= name %></p>
        <p>Price: <%%= price %></p>
        <p>Description: <%%= description %></p>
        <button class='change-qty' id='-<%%= id %>'>-</button>
        <box class='item-qty' id='qty<%%= id %>'>0</box>
        <button class='change-qty' id='+<%%= id %>'>+</button>
        <p>Total Price: </p>
        <ul id='item-submenu-<%%= id %>'></ul>
    </li>


</script>

<script type="text/template" id='ItemSubmenuTemplate'>
        <li class='submenu'>Sub Menu</li>

</script>
